html {
    font-family: "Microsoft JhengHei";
}

a {
    color: #fff;
    &:hover {
        color: #ccc;
        text-decoration: none;
    }
}
.row {
    margin: auto;
}
.header {
    background-color: rgb(155, 155, 155);
}
.Title-Block {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
#Home {
    padding-top: 100px;
    h1{
        font-size: 3rem;
    }
    .link {
        text-align: left;
        padding:10px 0 0 30px;
    }
    a{
        display: inline-block;
        color: #000;
        &:hover{
            transform: scale(1.2);
            transition: 50ms;
        }
    }
    i::before {
        font-size: 30px;
    }
}
.Left-Title {
    font-size: 1.5rem;
    margin: 0 10px;
    span {
        color: white;
    }
}

.Right-Title {
    font-size: 1.2rem;
    line-height: 36px;
    a{
        margin: 0 10px;
    }
}

#Github-Icon {
    width: 20px;

}

.Intr-block {
    align-self: center;
    text-align: center;
}

.animated-block {
    opacity: 0;
}

#Works {
    padding-top: 100px;
    padding-bottom: 30px;
    color: black;
    a{
        display: block;
        
    }
    img {
        width: 100%;
        height: 250px;
    }
}

.work {
    margin-bottom: 50px;
}

#Contact {
    padding-bottom: 200px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li {
        flex: 0 0 300px;
    }
}